{% extends 'main.html' %}

{% block content %}

<h1>Projects</h1>
<table>
    <tr>
        <th>id</th>
        <th>Title</th>
        <th>Created</th>
        <th>Positive Votes</th>
        <th>Votes</th>
        <th></th>
    </tr>
    {% for project in projects %}
    <tr>
        <td>{{project.project_id}}</td>
        <td>{{project.title}}</td>
        <td>{{project.created}}</td>
        <td>{{project.vote_ratio}}%</td>
        <td>{{project.vote_total}}</td>
        <td>
            <a href="{% url 'project' project.project_id %}">View</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock content %}
