{% extends 'main.html' %}

{% block content %}
<!-- Main Section -->
<main class="formPage my-xl">
    <div class="content-box">
        <div class="formWrapper">
            <br>
            <h1>Enter new password</h1>

            <p>Please enter your new password twice so we can verify you typed it in correctly.</p>

            <form class="form" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                <!-- Input:Text -->
                <div class="form__field">
                    <label for="formInput#text">{{field.label}}: </label>
                    {{field}}
                    {% for error in field.errors %}
                        <p style="color: red;">{{error}}</p>
                    {% endfor %}
                </div>

                {% endfor %}
                <input class="btn btn--sub btn--lg  my-md" type="submit" value="Change my password" />
            </form>
        </div>
    </div>
</main>
{% endblock %}